body {
  margin: 0;
  padding-bottom: 100px; /* gives space before footer */
}

/* tip Banner */
.tip-banner {
  margin-bottom: 60px; /* adds space below the banner */
  padding: 80px 0;
  background: #387468;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 0;
  padding-top: 0;
}

.tip-content h6 {
  font-size: large;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.tip-content {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  max-width: 800px;
  padding: 50px;
  /* padding-top: 150px; */
  margin: 0 auto;
}

/* Accordion */
.accordionItem {
  background: #c4d8ee;
  border-radius: 10px;
  margin: 20px 0; /* vertical spacing between items */
  padding: 20px; /* internal space inside each item */
  box-shadow: 0 3px 10px rgba(0, 2, 107, 0.699);
  border: solid rgba(0, 0, 0, 0.671) 2px;
  justify-items: center;
}

.accordionTitle {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.accordionTitle:hover {
  color: rgb(33, 124, 180);
}

.accordionTitle + .accordionContent {
  display: none;
}

.accordionTitle.is-open + .accordionContent {
  display: block;
}

/* Subheader */
.subheader {
  text-align: center;
  padding: 40px 40px;
}

/* Tip Cards */
.tipcard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px; /* space between cards */
  justify-content: center;
  padding: 40px;
}

.tip-card-body {
  width: 300px; /* all cards same width */
}

.tip-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #c4d8ee91;
  border-radius: 10px;
  padding: 20px;
  border: solid black 2px;
  box-shadow: 0 3px 5px rgba(0, 2, 107, 0.699);
  height: 500px; /* force all cards to same height */
}

.tip-card-header {
  text-align: center;
}

.tip-card-image {
  width: 100%;
  height: 250px; /* bigger image */
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.tip-card-header h5 {
  margin: 0 0 15px 0;
  font-size: 1.2rem;
}

.tip-card-content {
  flex-grow: 1; /* ensures content fills remaining space */
}

.tip-card-content ul {
  padding-left: 20px;
}

.tip-card-content li {
  margin-bottom: 10px;
  line-height: 1.5;
}

.tip-link {
  display: inline-block;
  margin-top: 10px;
  color: #0274a6;
  text-decoration: none;
  font-weight: 500;
}

.tip-link:hover {
  text-decoration: underline;
  color: #014f73;
}
